@import '../../../Style';

.Categoria {
    text-align: center;
    & a {
        text-align: center;
        display:inline-block;
        font-weight: 500;
        font-size: 1rem;
        color: $preto;
        cursor: pointer;
        transition: .5s ease-in-out;
        &:hover {
            color: $rosa
        }
        @include device(1000px) {
            margin-bottom: 22px;
        }
    } 
    & div {
        padding: 34px;
        background-color: $cinza2;
        margin-bottom: 22px;
        border-radius: 10px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);
        transition: .5s ease-in-out;
        &:hover {
            background-color: $branco;
        }
        @include device(1000px) {
            margin-bottom: 5px;
        }
    }
}