@import '../../Style';

.Marcas {
    margin: 155px 0 104px 0;
    & h2 {
        margin-bottom: 60px;
        font-weight: 700;
        color: $rosa;
        text-align: center;
        font-size: 1.87rem;
    }
    & nav {
        @include container;
        margin: 0 auto;
        justify-content: space-between;
        & div img {
            display: block;
            margin: 0 auto;
        }
    }
}

.Swiper-container-brand {
    @include vitrine(256) {
        width: 256;
    }

    @include vitrine(512) {
        width: 512;
    }

    @include vitrine(768) {
        width: 768;
    }

    @include vitrine(1024) {
        width: 1024;
    }

    @include vitrine(1280) {
        width: 1280;
    }
}